<div class="header-container">
        <h2>{{username}}</h2>
        <ul class="links-container">
            <li id="facebook" ><i class="bi bi-facebook"></i></li>
            <li id="twitter" ><i class="bi bi-twitter"></i><liv>
            <li id="linkedin" ><i class="bi bi-linkedin"></i></li>
            <li id="copy"><i class="bi bi-clipboard"></i></li>
        </ul>
</div>
{{#if posts.length}}
<section>
    <ul class="profile">
        {{#each posts as |post|}}
        <li>
        {{> post-info post}}
        {{!-- <br>
        <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a> --}}
        </li>
        {{/each}}
    </ul>
</section>
{{/if}}

<script src="/javascript/share.js"></script>